{{!-- 상세 페이지 작성 : write로 작성한 게시물 보여주기, 수정/삭제 기능, 댓글 추가/표시/삭제 기능 --}}

<h1>{{title}}</h1>
{{#with post}}                                                                                 {{!with 사용하여 post.붙이지 않고 코드 작성}}
<h2 class="text-xl">제목입니다.</h2>                                                            {{!게시글 제목 표시 영역}}
<div>
    작성자: <b>{{writer}}</b>                                                                   {{!작성자 이름 영역}}
</div>
<div>
    조회수 : {{hits}} | 작성일시 : {{dateString createdDt}}                                      {{!조회수/작성일시 영역, 커스텀 헬퍼 함수 dateString 사용}}
    <button onclick = "modifyPost()">수정</button>                                              {{!게시글 관련 버튼 영역}}
    <button onclick = "deletePost()">삭제</button> 
</div>

<div>
    <pre>{{content}} </pre>                                                                     {{!본문 영역}}
</div>

<section>
    <div>
        <h3>n개의 댓글이 있습니다. </h3>                                                          {{!댓글 개수 표시 영역}}
    </div>

    <form method = "post" action="/write-comment">                                              {{!댓글 작성 폼}}
        <div>
            <div>
                <input type = "text" name = "name" placeholder = "이름"/>
                <input type = "password" name = "password" placeholder="비밀번호"/>
            </div>
            <div>
                <textarea cols = "40" rows = "3" name = "comment" placeholder="댓글을 입력해주세요."></textarea>
                {{!댓글 전송 버튼}}
                <br /><br /><button>댓글쓰기</button> 
            </div>
        </div>
    </form>
</section>
{{! 댓글 표시 영역}}
<section>
    <div>
        <div>
            작성자 : <b>댓글 작성자</b>
        </div>
        <div>
            작성일시 : 2024-12-03 00:00:00
            <button onclick="deleteComment('1')">삭제</button>
        </div>
        <div>
            <pre>{{comment}}</pre>
        </div>
    </div>
</section>
{{/with}}

<footer>
    <div>
        <a href = "/">목록으로</a>  {{!목록으로 가는 링크 }}
    </div>
</footer>
<script>
    const postOption = {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
    }

    async function modifyPost() {
        const password = prompt("패스워드를 입력해주세요");               //내장된 프롬프트 사용
        if(!password){
            return;
        }

//글 수정 함수
    const result = await fetch("/check-password", {                     //fetch(url, option) 함수 실행 - url : 호출할 api의 경로, option : method, headers, body 등의 데이터
        ...postOption,
        body: JSON.stringify({ id: "{{post._id}}", password })          //JSON타입을 문자열의 형태로 변경해주는 stringify 함수 사용
    });

    const data = await result.json();                                   //json함수를 실행하는 경우에도 결괏값이 Promise이기 때문에 await를 사용해야 한다

    if(data.isExist) {
        document.loacion = "/modify/{{post._id}}"                       //패스워드가 올바른 경우(if data.isExist) 수정 페이지로 이동
    }else{
        alert("패스워드가 올바르지 않습니다.");
        }
    }
    async function deletePost() {   }
</script>